.movie-card {
  position: relative;
  width: 451px;
  height: 279px;
  padding-right: 20px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.movie-poster-container {
  width: 40%;
  height: 100%;
  float: left;
  margin-right: 20px;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.movie-title {
  margin: 16px 0 7px 0;
  padding-right: 24px;
  font-size: 17px;
  line-height: 1.4;
}

.movie-rate-current {
  position: absolute;
  top: 8px;
  right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  font-size: 12px;
}

.movie-release-date {
  margin: 0 0 7px 0;
  font-size: 12px;
  line-height: 1.83;
  color: #827e7e;
}

.movie-genres-list {
  display: flex;
  margin: 0 0 7px 0;
  padding: 0;
  overflow: auto;
  scrollbar-width: thin;
}

.movie-genre {
  font-size: 12px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  white-space: nowrap;
}

.btn-view {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  height: 20px;
  margin: 0 8px 0 0;
  padding: 0 3px;
  background: #fafafa;
}

.movie-overview {
  margin: 0;
  font-size: 12px;
  line-height: 1.65;
}

.movie-rate-stars {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.movie-card > .movie-rate-stars .ant-rate-star {
  margin-inline-end: 7px;
  font-size: 17px;
}

@media (max-width: 768px) {
  .movie-card {
    box-sizing: border-box;
    width: 388px;
    height: 245px;
    padding: 6px 12px 18px 10px;
  }

  .movie-poster-container {
    width: 60px;
    height: 91px;
    float: left;
    margin-right: 14px;
  }

  .movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .movie-title {
    margin: 4px 0 7px 0;
  }

  .movie-genres-list {
    margin: 0 0 19px 0;
  }
}
